@model MovieRentalApp_ASP.NET_MVC_ver2.Models.Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer Details View</h2>

<p>customer's id = @Model.Id</p>
<p>customer's name = @Model.Name</p>
<p>membership's id = @Model.MembershipType.Name</p>
<p>membership signUp fee = @Model.MembershipType.SignUpFee PLN</p>
<p>membership duration in months = @Model.MembershipType.DurationInMonths months</p>
<p>membership discount = @Model.MembershipType.DiscountRate %</p>



