@model MovieRentalApp_ASP.NET_MVC_ver2.Models.Movie
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movie Details ViewDetails</h2>
<p>movie's id = @Model.Id</p>
<p>movie's name = @Model.Name</p>
<p>movie release date = @Model.ReleaseDate.ToShortDateString()</p>
<p>movie added date = @Model.DateAdded.ToShortDateString()</p>
<p>movie number in stock = @Model.NumberInStock left</p>
<p>movie genre type = @Model.Genre.Name</p>